
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background-color: #2196f3;
    height: 7em;
     
    & .tituloLogo{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: xx-large;
    }
    & .logo{
        max-width: 5em;
    }
    .nav-lista {
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }
    
    .nav-lista li a {
        text-decoration: none;
        color: white;
        margin-right: 2em;
    }
    
    
}


